<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue JS</title>
     <link href="assets/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="main">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart.length }})</div>
      <product-display :premium="premium" @add-to-cart="updateCart"></product-display>
    </div>
    <!-- Add Vue JS cdn -->
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <!-- Import App -->
    <script src="assets/js/main.js"></script>
    <!-- Import Components -->
    <script src="components/ProductDisplay.js"></script>
    <script src="components/ReviewForm.js"></script>
    <script src="components/ReviewList.js"></script>
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#main')
    </script>
  </body>
</html>
