body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
}
img {
  border: 2px solid #d8d8d8;
  width: 50%;
  margin: 40px;
  padding: 15px;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}
.nav-bar {
  background: linear-gradient(-90deg, #b48395, #662966);
  height: 60px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}
button {
  margin: 30px;
  background-color: #6a3f6a;
  border-radius: 10px;
  font-size: 18px;
  width: 180px;
  height: 60px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.cart {
  display: block;
  margin: 25px 100px;
  float: right;
  color: white;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
  background-color: #b48395;
}
.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-image, .product-info {
  width: 50%;
}
.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}
.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}
.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}
.review-container li {
  margin-bottom: 30px;
}
.review-container ul {
  list-style-type: none;
}
.review-form .button {
  margin: 30px auto;
  background-color: #6a3f6a;
  border-radius: 10px;
  font-size: 18px;
  width: 180px;
  height: 60px;
  margin: 7px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
